<div class="container mt-5">
    <h2>CRUD de Alumnos</h2>
    <hr>

    
    <!-- Formulario de creación -->
    <div >
        <h3>Agregar Alumno</h3>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre del Alumno</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del alumno">
            </div>
            <!-- Otros campos del formulario, como apellido, edad, etc. -->
            <button type="submit" class="btn btn-success">Guardar</button>
            
        </form>
    </div>

    <!-- Tabla de alumnos -->
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <!-- Otros encabezados de columnas, como apellido, edad, etc. -->
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se mostrarán los alumnos -->
            <tr >
                <td>Carlos</td>
                <td>Cardoza</td>
                <!-- Otros campos del alumno, como apellido, edad, etc. -->
                <td>
                    <button class="btn btn-info btn-sm">Editar</button>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>